*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 1.5vh;
}

body{
    font-family: 'Oswald', sans-serif;
}

.navbar{
    position: absolute;
    height: 7vh;
    width: 100%;
    background-color: rgba(40, 70, 100, 0.4) !important;
    font-size: 1rem;
}

div{
    font-family: inherit;
}

h1{
    font-size: 4.5rem;
}

p{
    font-size: 2rem;
}

.card{
    background-color: rgba(40, 70, 100, 0.4) !important;
    min-height: 50vh;
    max-height: 80vh;
}

.card img{
    height: 25vh;
    overflow: hidden;
}

.card h1{
    font-size: 3rem;
}

.card p{
    font-size: 1.5rem;
}

@media only screen and (max-width: 768px){
    :root{
        font-size: 1vh;
    }
    .navbar{
        height: unset;
        min-height: 7vh;
        background-color: rgba(40, 70, 100, 0.9) !important;
        font-size: 2rem;
    }
    .card{
        min-height: 20vh;
        max-height: 40vh;
    }

    .card img{
        height: 13vh;
    }

    .card h1{
        font-size: 2rem;
    }

    .card p{
        font-size: 1rem;
    }
}